<% if notice %>
  <p class="notice"><%= notice %></p>
<% end %>

<%= render @product %>

<div>
  <%= link_to t("products.edit_product"), edit_product_path(@product) %> |
  <%= link_to t("products.back_to_products"), products_path %>

  <%= button_to t("products.destroy_product"), @product, method: :delete %>
</div>
